* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: white;
}

/* Ajoute dans style.css */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.bouton_trad {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
h2 {
    margin-bottom: 50px;
    font-size: 1.5em;
}
.vocab-item {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

#feedback {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2em;
}
.feedback-bonne {
    color: green;
}
.feedback-mauvaise {
    color: red;
}
.bouton_verif {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
}